<mat-form-field>
    <mat-label>Name of Workspace</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.workspace.name">
</mat-form-field>
<mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.workspace.description"></textarea>
</mat-form-field>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ workspace: data.workspace }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button 
        *ngIf="data.enableDelete"
        mat-fab
        color="primary"
        aria-label="Delete"
        [mat-dialog-close]="{ workspace: data.workspace, delete: true }"
        >
        <mat-icon>delete</mat-icon>
    </button>
</div>
