mat-toolbar {
    margin-bottom: 20px;
}
  
mat-toolbar > span {
margin-left: 10px;
}

.icons-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logout-icon {
    margin-right: 10px;
}

.logout-icon:hover {
    cursor: pointer;
    
}