.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.icons-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout-icon {
  margin-right: 10px;
}

.logout-icon:hover {
  cursor: pointer;
  
}